.contact-info {
    background-color: #27272a;
    box-shadow: 20px 20px 20px 20px rgba(23, 22, 22, 0.5);
    border-radius: 10px;
    padding: 20px;
    text-align: center; /* Align content at the center */

    /* Add the following styles for better spacing */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-social-links a {
    display: block;
    margin: 10px 0; /* Adjust spacing between social media links */
    text-decoration: none;
    /* color: #007BFF; */
}

/* Adjust the following styles to make the links more visible on hover */
.contact-social-links a:hover {
    /* color: #0056b3; */
    text-decoration: underline;
}
