/* Header Styles */
body {
    margin: 0;
    font-family: 'Consolas', monospace;
    background-color: #27272a;
    color: #a7f3d0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.headerName {
    margin: 0;
    font-size: 1.5em; /* Adjust font size */
    color: #a7f3d0;
}

.social-links a {
    margin-right: 10px;
    text-decoration: none;
    font-size: 1.5em; /* Adjust font size */
    color: #fff;
}

.recuriter-link,
.resume-link {
    background-color: #4CAF50;
    border-radius: 15px 0 15px 0;
    border: none;
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em; /* Adjust font size */
    margin-left: 10px;
    cursor: pointer;
}

.resume-link:hover {
    background-color: #45a049;
}

/* Section Styles */
.content {
    display: flex;
    align-items: flex-start; /* Align items at the start of the cross axis (top) */
    padding: 20px;
    height: 80vh /* Set height to screen height minus double the header padding */
}

.left {
    flex: 0 0 20%; /* Adjust the width of the left section */
    padding: 20px;
    margin-right: 18px;
    border-radius: 5px;
    overflow: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 95%; /* Take the full height of the .content section */
}

.right {
    flex: 0 0 72%; /* Adjust the width of the right section */
    padding: 20px;
    border-radius: 5px;
    overflow: auto;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 95%; /* Take the full height of the .content section */
}

.nav-option {
    cursor: pointer;
    margin-bottom: 15px;
    padding: 8px;
    color: white;
    border-width: 1px 1px 0 1px; /* Top, Right, Left, Bottom */
    border-style: solid;
    border-color: white;
    border-radius: 20px 100px 0 0;
    box-shadow: 0 -5px 20px 0 rgba(23, 22, 22, 0.5); /* Add box-shadow to the top */
    /* transition: all 0.3s ease; */
}
/* .nav-option:hover {
    background-color: #0056b3;
    transform: translateY(5px);
} */

.nav-option:active {
    transform: translateX(5px);
    box-shadow: none; /* Remove box-shadow on click */
}



/* Add your existing styles here */

.left {
    position: relative;
}

.above {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.line {
    width: 100%;
    height: 2px;
    background-color: white;
    margin: 10px 0; /* Adjust margin as needed */
}

.profile-image img {
    border-radius: 50%;
    width: 135px; /* Adjust width as needed */
    height: 135px; /* Adjust height as needed */
    object-fit: cover;
    border: 1px solid white; /* Add border color and width */
    transition: transform 0.5s ease, transform-origin 0.3s ease, scale 0.3s ease;
}

.profile-image img:hover {
    transform: perspective(1500px) rotateY(45deg) scale(1.1); /* Enlarge and rotate slightly on hover */
}

.profile-image img:active {
    transform: perspective(1500px) rotateY(360deg) scale(1); /* Rotate 360 degrees and reset scale on click */
}



.name {
    color: white;
    margin-top: 10px; /* Adjust margin as needed */
}
