.intro-container {
    max-width: 900px;
    margin: 0 auto;
    text-align: justify;
  }
  
  h2 {
    /* color: #333; */
    text-align: center;
  }
  
  p {
    line-height: 1.6;
    margin-bottom: 15px;
  }
  
  .strong-highlight {
    color: #e6683c;
    font-weight: bold;
  }
  
  .highlight {
    color: #bc1888;
    font-weight: bold;
  }
  
  .intro-container p:last-child {
    margin-bottom: 0;
  }
  
  