
/* Project Section Styles */
.prj-category {
    position: relative;
}

.prj-scroll-container {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    scrollbar-width: thin; /* Set the scrollbar width to thin for Firefox */
}



.prj-scroll-container:hover ::-webkit-scrollbar,
.prj-scroll-container:hover ::-moz-scrollbar {
    display: block; /* Make the scrollbar visible on hover */
}

.prj-scroll-container::-webkit-scrollbar-thumb,
.prj-scroll-container::-moz-scrollbar-thumb {
    background-color: rgba(243, 242, 242, 0.8); /* Scrollbar thumb color with reduced transparency */
    border-radius: 6px;
}

.prj-scroll-container::-webkit-scrollbar-track,
.prj-scroll-container::-moz-scrollbar-track {
    background-color: transparent;
}

/* Project Box Styles */
.prj-box {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 200px;
    display: inline-block;
    vertical-align: top;
    background-color: #dc6060ad;
    overflow-wrap: break-word;

}

.prj-box h4 {
    margin-bottom: 5px;
    font-size: 16px;
}

.prj-box p {
    font-size: 14px;
    color: #666;
}



/* Project Info Styles */
.prj-info {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.prj-info h4 {
    margin-bottom: 10px;
    font-size: 18px;
}

.prj-info p {
    font-size: 16px;
    color: #666;
}

.prj-info .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 14px;
    color: #999;
}
