/* General styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, Helvetica, sans-serif;
    overflow-x: hidden;
    background-color: #121212;
    color: aliceblue;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

#home, #about-me, #tech-skills{
    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home, #about-me{
    height: 100vh;
}
#projects{
    background-color: #121212;
}

header {
    text-align: center;
    position: fixed;
    width: 100%;
    padding: 15px 0;
    z-index: 999;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.name-header {
    font-size: 20px;
    color: white;
    display: none;
}

/* Main Navigation */
header nav a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    transition: color 0.3s;
    font-size: 20px;
    margin-top: 10px;
    padding-bottom: 10px;
}

header nav a.active {
    color: orange;
}

header nav a:hover {
    color: orange;
}

.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}

.left {
    flex: 1;
    min-width: 300px;
    display: flex;
    justify-content: center;
}

.right {
    flex: 1;
    min-width: 300px;
    display: flex;
    justify-content: center;
}

.right-home {
    position: relative;
    left: 50px;
}

.left .home-name, .right .profile-image {
    margin-top: auto;
}

.home-name {
    color: aliceblue;
    text-align: center;
}

.name {
    font-size: 5em;
}

.profession {
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    border-right: .15em solid orange;
    animation: typing 3s steps(20, end);
}

/* keyframes */
@keyframes typing {
    from { width: 0; }
}

.profile-image {
    width: 80%;
    max-width: 30em;
    height: auto;
    object-fit: cover;
}

/* Tech skills section */
#tech-skills {
    display: flex;
    flex-direction: column;
}

/* Tech stack */
h2 {
    text-align: center;
}

.line-right-div {
    width: 50%;
    height: 2px;
    background-color: #8922b4;
    margin: 10px 225px;
}

.tech-stack {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.tech-category {
    width: 150px;
    background-color: #2a2a2b;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 -5px 20px 0 rgba(23, 22, 22, 0.5);
}

.tech-category h2 {
    color: #e4e4e7;
    font-size: 20px;
    border-bottom: solid white 1px;
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: #14131a;
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    color: #e4e4e7;
}

li.highlight {
    border: 1px solid var(--highlight-border-color);
}

li.highlight.beg {
    --highlight-border-color: #00ff00;
}

li.highlight.int {
    --highlight-border-color: #e5ff00;
}

li.highlight.adv {
    --highlight-border-color: #ff0000;
}

.tech-legend {
    width: fit-content;
}

.tech-legend ul {
    display: flex;
    flex-direction: row;
}

/* Projects section */
#projects {
    position: relative;
    display: flex;
    flex-direction: column;
    border-top: solid white 1px;
    border-bottom: solid white 1px;
    padding: 20px;
    color: #f1f1f1; /* Light text color */
}

/* Project Navigation */
.prj-nav {
    position: relative;
    top: 5vh; /* Position 5vh below the top of the viewport */
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 2; /* Ensure it stays above other content */
    padding: 20px 0px;
}

.prj-nav a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    transition: color 0.3s;
    font-size: 20px;
    padding-bottom: 10px;
    cursor: pointer;
}

.prj-nav a.active {
    color: orange;
}

/* Rest of your CSS */
.projs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5vh;
}

.prj-type {
    display: none;
    width: 100%;
}

.prj-type.active {
    display: block;
}

/* Project container */
.prj-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    align-items: start;
    justify-items: stretch;
}

/* Individual project */
.prj {
    width: calc(50% - 20px); /* Adjust the width here */
    background-color: #2c2c2c; /* Dark background */
    color: #f1f1f1; /* Light text color */
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Padding for inner content */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    font-family: Arial, sans-serif; /* A clean font */
}

/* Project header */
.prj-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #444; /* Subtle bottom border */
    padding-bottom: 5px;
}

.heading {
    font-size: 1.5em; /* Larger font size */
    font-weight: bold; /* Bold text */
}

.prj-link {
    font-size: 1em; /* Normal font size */
    color: #61dafb; /* Accent color for link */
    text-decoration: none; /* No underline */
}

.prj-link:hover {
    text-decoration: underline; /* Underline on hover */
}

/* Project description */
.project-description {
    text-align: justify; /* Justify the text */
    line-height: 1.6; /* Improve readability with line height */
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .prj {
        width: 100%; /* Full width for smaller screens */
    }
}

/* Research section */

#research {
    position: relative;
    border-top: solid white 1px;
    border-bottom: solid white 1px;
    padding: 20px;
    color: #f1f1f1; /* Light text color */
}

/* Research header */
.research-header {
    text-align: center;
    margin-bottom: 20px;
}

.research-header h2 {
    font-size: 2em; /* Larger font size for the header */
    font-weight: bold; /* Bold text */
    position: relative;
    top: 5vh;
}

/* Research container */
.research-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

/* Individual research paper */
.research-paper {
    background-color: #2c2c2c; /* Dark background */
    color: #f1f1f1; /* Light text color */
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Padding for inner content */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    font-family: Arial, sans-serif; /* A clean font */
    width: calc(100% - 40px); /* Adjust the width to fit within the container */
    /* max-width: 800px;  */
    margin-bottom: 20px; /* Space between the papers */
}
/* Paper header */
.paper-head {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid #444; /* Subtle bottom border */
    padding-bottom: 5px;
}

.heading {
    font-size: 1.3em; /* Larger font size */
    font-weight: bold; /* Bold text */
}

.paper-link {
    font-size: 1em; /* Normal font size */
    color: #61dafb; /* Accent color for link */
    text-decoration: none; /* No underline */
}

.paper-link:hover {
    text-decoration: underline; /* Underline on hover */
}

/* Paper description */
.paper-description {
    text-align: justify; /* Justify the text */
    line-height: 1.6; /* Improve readability with line height */
}


/* Tablets and smartphones */
@media (max-width: 768px) {
    .name-header {
        font-size: 1.5em;
        position: fixed;
        top: 15px;
        left: 15px;
        display: inline-block;
    }

    .menu-icon {
        display: block;
        color: white;
        position: fixed;
        top: 15px;
        right: 15px;
        z-index: 1000; /* Ensures the icon is above other elements */
    }

    .nav-links {
        display: none;
        flex-direction: column;
        gap: 10px;
        background-color: #121212;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        padding: 10px 0;
    }

    .nav-links a {
        padding: 10px 20px;
        font-size: 1.5em;
    }

    .profile-image {
        height: 20em;
        width: 20em;
        max-width: 25em;
    }

    .name {
        font-size: 3em;
    }

    .profession {
        font-size: 1.5em;
        text-align: center;
    }

    .content-wrapper {
        flex-direction: column-reverse;
    }

    .home-name {
        position: relative;
        top: 20px;
    }

    .prj-nav {
        display: block;
    }
}

@media (max-width: 480px) {
    .name-header {
        font-size: 16px;
    }

    .menu-icon {
        font-size: 30px;
    }

    .nav-links a {
        font-size: 16px;
        margin: 0 5px;
    }

    .content-wrapper {
        flex-direction: column-reverse;
    }

    .profile-image {
        /* width: 70%; */
        max-width: 10em;
    }

    .name {
        font-size: 2.5em;
    }

    .profession {
        font-size: 1em;
        text-align: center;
    }
}

/* Additional styles for menu icon */
.menu-icon {
    display: none;
    cursor: pointer;
}

.nav-links {
    display: flex;
    gap: 15px;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .nav-links {
        display: none;
    }
}

.nav-links.open {
    display: flex;
}
