body {
  /* margin: 0;
  padding: 0; */
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: linear-gradient(45deg, #c4e0e5, #f2e2e3);
  /* perspective: 1000px; */
}
.logo {
  max-width: 150px;
  height: auto;
  display: block;
  margin-right: auto;
  margin-top: 30px;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1px;
    font-size: 24px;
    margin-top: -30px;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px;
}

nav ul {
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin: 0;
  }
  
nav li {
	margin:20px;
  margin-bottom: 0px;
  }
  
nav a {
	/* color: white; */
    color: black;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	transition: color 0.2s ease-in-out;
  }

nav a:hover {
	color: rgb(44, 188, 236);
}


/* Styling for the blog content */
.blog-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    font-family: 'Exo 2', Arial, sans-serif;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 5px;
}

/* Add a little extra spacing for paragraphs inside blog content */
.blog-content p {
    margin-bottom: 15px;
}

/* Add a border and some padding for images inside blog content */
.blog-content img {
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

/* Add some styles for links inside blog content */
.blog-content a {
    color: #007bff;
    text-decoration: underline;
}

.blog-content a:hover {
    color: #0056b3;
}

.blog-info {
    display: flex;
    justify-content: space-between;
}