.form-area{
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(145deg, #fefefe, #d0d0d0);
    box-shadow: 20px 20px 60px #adadad, -10px -10px 30px #ffffff;
    transform-style: preserve-3d;
    margin-right: 20px;
    
}

input[type="text"],
input[type="password"],
button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}
button:hover {
    background-color:linear-gradient(145deg, #fefefe, #d0d0d0);
}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 150px;
}